.header {
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e2e3e4;
}

.main {
  padding: 30px;
}

h2 {
  border-top: 1px solid rgb(232, 232, 232);
  padding-top: 30px;
}

h1 {
  margin-bottom: 0;
}

button {
  background-color: rgb(35, 35, 133);
  color: white;
  border-radius: 30px;
  border: none;
  padding: 10px 20px;
}

.flex-gap {
  display: flex;
  gap: 10px;
}
